<?xml version='1.0' encoding='utf-8'?>
<widget id="com.derekhonerlaw.dronecheck" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DroneCheck</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="assets/android/icon/drawable-ldpi/appicon.png" density="ldpi" />
        <icon src="assets/android/icon/drawable-mdpi/appicon.png" density="mdpi" />
        <icon src="assets/android/icon/drawable-hdpi/appicon.png" density="hdpi" />
        <icon src="assets/android/icon/drawable-xhdpi/appicon.png" density="xhdpi" />
        <icon src="assets/android/icon/drawable-xxhdpi/appicon.png" density="xxhdpi" />
        <icon src="assets/android/icon/drawable-xxxhdpi/appicon.png" density="xxxhdpi" />

        <!-- Currently Doesn't Support Landscape
            <splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
            <splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
            <splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
            <splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>
        -->
        <splash src="assets/android/splash/res-long-port-hdpi/default.png" density="port-hdpi"/>
        <splash src="assets/android/splash/res-long-port-ldpi/default.png" density="port-ldpi"/>
        <splash src="assets/android/splash/res-long-port-mdpi/default.png" density="port-mdpi"/>
        <splash src="assets/android/splash/res-long-port-xhdpi/default.png" density="port-xhdpi"/>
        <splash src="assets/android/splash/res-long-port-xxhdpi/default.png" density="port-xxhdpi"/>
        <splash src="assets/android/splash/res-long-port-xxxhdpi/default.png" density="port-xxxhdpi"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="assets/iphone/appicon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="assets/iphone/appicon-60.png" width="60" height="60" />
        <icon src="assets/iphone/appicon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="assets/iphone/appicon-76.png" width="76" height="76" />
        <icon src="assets/iphone/appicon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="assets/iphone/appicon-Small-40.png" width="40" height="40" />
        <icon src="assets/iphone/appicon-Small-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="assets/iphone/appicon.png" width="57" height="57" />
        <icon src="assets/iphone/appicon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="assets/iphone/appicon-72.png" width="72" height="72" />
        <icon src="assets/iphone/appicon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="assets/iphone/appicon-Small.png" width="29" height="29" />
        <icon src="assets/iphone/appicon-Small@2x.png" width="58" height="58" />
        <icon src="assets/iphone/appicon-Small@3x.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="assets/iphone/appicon-Small-50.png" width="50" height="50" />
        <icon src="assets/iphone/appicon-Small-50@2x.png" width="100" height="100" />

        <splash src="assets/iphone/Default.png" width="320" height="480"/>
        <splash src="assets/iphone/Default@2x.png" width="640" height="960"/>
        <splash src="assets/iphone/Default-Portrait.png" width="768" height="1024"/>
        <splash src="assets/iphone/Default-Portrait@2x.png" width="1536" height="2048"/>
        <splash src="assets/iphone/Default-568h@2x.png" width="640" height="1136"/>
        <splash src="assets/iphone/Default-667h@2x.png" width="750" height="1334"/>
        <splash src="assets/iphone/Default-Portrait-736h@3x.png" width="1242" height="2208"/>

        <!-- Landscape Not Supported Yet
            <splash src="assets/iphone/Default-Landscape~ipad.png" width="1024" height="768"/>
            <splash src="assets/iphone/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
            <splash src="assets/iphone/Default-Landscape-736h.png" width="2208" height="1242"/>
        -->

    </platform>
</widget>
